@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address class="mrgn-top">
    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Nilesh Patil</h3>
    <strong>Designation:</strong>   Asp.net Dev<br />
    <strong>Skype Id:</strong> nileshp.cuelogic</a>
</address>
<hr />
<address>
    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ravi Ranjan</h3>
    <strong>Designation:</strong>   FrontEnd Dev<br />
    <strong>Skype Id:</strong> raviranjanl.cuelogic</a>
</address>