@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>[ErrorLogger]</h1>
    <p class="lead">Error Logger System.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
</div>