@model ErrorLoggerWebApp.Models.Dashboard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="form-horizontal">
    <div>
        <label class="control-label col-md-2">Application</label>
        @Html.DropDownListFor(t => t.ApplicationId, Model.ApplicationList, "Select Application", new { Id = "applicationList", @class = "form-control" })
        <br />
        <label class="control-label col-md-2">Module</label>
        @Html.DropDownListFor(t => t.ModuleValue, Model.ModuleList, "Select Module", new { Id = "moduleList", @class = "form-control" })
        <br /><br />
        <input type="button" name="name" id="btnSubmit" value="submit" />
    </div>
    <div>
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4 class="tip" data-toggle="tooltip" title="Error Summery">Error <span class="semi-bold">Summary</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="list"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div id="highChart1" style="height:350px;"> </div>
                <h4 class="total-Errors">Total number of Errors <span class="semi-bold"></span></h4>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Pages/Dashboard.js"></script>

